.container{
    display: flex;
  
}

.Image{
    width: 500px;
    margin: 40px;
    border-radius: 30px;
}
.see-all{
    background-color: brown;
    padding: 10px;
    border-radius: 10px;
    color: aliceblue;
    text-decoration: none;
    margin: 20px;
}
.laptop-title{
    color: rgb(212, 80, 80);
    margin-left: 50px;
}
.Customers{
    color: coral;
}

.coding-master{
    color: tomato;
}
.smooth{
    color: deepskyblue;
}